<section> 
    <div id="app">   
        <h1>TODO LIST EMBER</h1>
        <div class="insertItem">
           <input  id="description" type="text"> 
            {{!--{{input type="text" valueBinding="description"}}--}}
            <input type="button" value="OK" {{action 'newItem'}}>
        </div>
        <div class="itemsList">
            <ul>
                <li>
                    <input type="button" value="x" {{action 'deleteItem'}}>&nbsp;
                </li>
            </ul>
        </div>
    </div>
</section>